{% extends 'v2/layouts/public.html' %}
{% load static %}
{% block title %} Forget Password {% endblock %}
{% block hero_title %}
    <ul class="breadcrumb">
      <li class="link-01"><a href="index.html">Home</a></li>
      <li class="link-01">Forgot Password</li>
    </ul>
    <div class="header-primary-info">
      <h4 class="sub-header-01">Forgot Password - Account Recovery</h4>
      <p class="paragraph-01">You can easily recover your account and reset a new password by follwoing the steps below —</p>
    </div>
{% endblock %}

{% block content %}
<section id="recovery">
    <div class="container">
      <form class="form-recovery" method="" data-validate="" novalidate="true">
        <div class="form-element">
          <label for="email">Enter the email address associated with your account</label>
          <input type="email" autocomplete="username" name="email" placeholder="Type your Email">
        </div>
        <div class="form-element">
          <input class="button-primary" style="background-color: #099e00; color:white; border: none;" type="submit" value="Get Password">
        </div>
      </form>
      <div class="recovery-login-steps">
        <div class="password-confirmation-message">
          <div class="recovery-step-one">
            <p class="paragraph-01">1. Check your email inbox for the password.</p><span class="label-01">If not found then check your spam folder.</span>
          </div>
        </div>
        <div class="recovery-step-two">
          <p class="parargraph-01">2. Use this Password to log into your account.</p>
        </div><span class="divider-line"></span>
        <div class="recovery-step-three"><span class="label-01">We suggest that you set your own new passsword by continuing the next steps —</span><span class="paragraph-01">3. To set a new password go to the <a class="paragraph-01" href="#updatePassoword">Account Settings Page</a>.</span></div>
        <div class="recovery-step-four"><span class="paragraph-01">4. When you reach the <a class="paragraph-01" href="#updatePassoword">Account Settings Page</a>, scroll down to find the Reset Password section.</span><span class="label-01">Enter the password we sent you as the current password and set a new password in the field after it.</span></div>
      </div>
    </div>
  </section>
{% endblock %}